.home{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(132px,auto);

    .box1{
        background-color: rgba(202, 231, 202, 0.842);
    }
    .box2{
        background-color: rgb(240, 240, 204);

    }
    .box3{
        background-color: rgba(240, 204, 204, 0.815);
      

    }
    .box4{
        background-color: rgba(206, 206, 238, 0.822);

    }

    .box{
        padding: 20px;
        border-radius: 25px;
        // border: 1px solid red;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    }
    .box5{

        grid-column: span 4;
        grid-row: span 2;
        background-color: white;
    }
    .box6{
        grid-column: span 2;
        grid-row: span 1;
        background-color: white;
    }
    .box7{
        grid-column: span 2;
        grid-row: span 1;
        background-color: white;
    }
}